[submodule "NVSim"]
	path = NVSim
	url = https://github.com/SEAL-UCSB/NVSim.git
[submodule "public_OSFET_cmodel"]
	path = public_OSFET_cmodel
	url = https://github.com/kjstanford/public_OSFET_cmodel.git
[submodule "NS-Cache"]
	path = NS-Cache
	url = https://github.com/patrickmcewen/NS-Cache.git
